[core]
  editor = vim
  excludesfile = ${HOME}/.gitignore
  autocrlf = false
[color]
  ui = true
[credential]
  helper = "cache --timeout=3600"
[merge]
  tool = vimdiff
[mergetool]
  keeptemporaries = false
  keepbackups = false
  prompt = false
[alias]
  last = log -1 --stat
  lg = log --graph --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset%s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  cp = cherry-pick
  co = checkout
  cl = clone
  ci = commit
  st = status -sb
  br = branch
  unstage = reset HEAD --
  dc = diff --cached
  ignore = update-index --assume-unchanged
  unignore = update-index --no-assume-unchanged
  ignored = !git ls-files -v | grep "^[[:lower:]]"
  pushh = push origin HEAD
  pushfwl = push --force-with-lease
  reflg = reflog --date=iso
  prunebr = "!git fetch -pP ; git branch --merged origin/develop | grep -Ev \"(^\\*|master|main|develop)\" | xargs git branch -d"
  wkt = worktree
[push]
  default = simple
[init]
  defaultBranch = main
[pull]
  rebase = true
[commit]
  gpgsign = true

[includeIf "hasconfig:remote.*.url:git@gitlab.com:*/**"]
path = ~/.gitconfig.gitlab

[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
path = ~/.gitconfig.github
